# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.ipr
*.iws
*.iml
!.idea/.gitignore

# macOS
.DS_Store

# Debug/Runtime
\[DEBUG\]/
run/

# Local libs
libs/
